body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: beige;
}

.footer {
  background-color: #212529;
  position: relative;
  left: 0;
  bottom: 0;
}
.head-link {
  text-decoration: none;
  color: whitesmoke;
}

/* #navbar {
  font-family: 'Playfair Display', serif;
} */

#brand:hover {
  color: green;
}

a .fa-brands,
.fa-solid {
  color: whitesmoke;
}

#aboutGH,
#aboutLI,
#aboutMail {
  color: #212529;
}

.main {
  min-height: calc(100vh - 120px);
}

#profileContainer {
  margin-bottom: 24px;
}

#profileCard {
  margin-bottom: 24px;
  margin-top: 24px;
}

#summary {
  margin-top: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

#projectsContainer {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.projectCard {
  margin-bottom: 24px;
}

.card-header button {
  justify-self: flex-end;
}

/* * {
  color: white;
} */
